@import "tailwindcss";

:root {
    --color-accent: #0e8684;
    --color-primary: #d1d5db;   /* Tailwind's gray-300 */
    --color-secondary: #9ca3af; /* Tailwind's gray-400 */
    --color-third: #6b7280;     /* Tailwind's gray-500 */
}
body{
    font-family: "Barlow", serif;
    margin: 0 auto;
    max-width: 1440px;
}
 
h1,
h2,
h3{
    font-family: "Fraunces";
    @apply font-bold
}
button{
    @apply bg-[var(--color-accent)] text-white py-2 px-6 font-bold rounded-md cursor-pointer
}
.activeMenu{
    background-color: rgba(0, 0, 0, 0.8);
}
.activeMenu ul{
    @apply bg-[var(--color-accent)] py-8 gap-5
}
article h3 span{
    @apply text-[var(--color-accent)]
}
